.start{
    text-align: center; 
}
.start-title{
    font-size: var(--font-title);
    margin-top: 50px;
}
.start-btns{
    
}
.start-btn :hover{
    background-color: var(--color-bg-btn);
    border-radius:35px;
}
